---
title: 'Treatments'
description: 'Experience gentle and thorough waxing treatments at our Ludgershall spa. Our skilled aestheticians offer a range of services, from quick touch-ups to full-body waxing. '
preloadImg: '/assets/images/banners/banner3.webp'
permalink: 'treatments/'
eleventyNavigation:
    key: Treatments
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/waxing.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1400">
    <div class="cs-container">
        <span class="cs-int-title">Treatments</span>
        <div class="cs-breadcrumbs">
            <a href="" class="cs-link">Home</a>
            <a href="/treatments/" class="cs-link cs-active">Treatments</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banners/banner3-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banners/banner3.webp">
        <img decoding="async" src="/assets/images/banners/banner3.jpg" alt="candles and oils" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                  Content                     -->
<!-- ============================================ -->

<section id="content-1450">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Treatments</span>
            <h2 class="cs-title">Discover Silky Smooth Skin with Our Expert Waxing Treatments</h2>
            <p class="cs-text">
                Our skilled aestheticians provide gentle and thorough waxing treatments, leaving your skin smooth and hair-free. From quick touch-ups to full-body waxing, we have the perfect solution for you.
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">Female Waxing</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Half Leg Waxing</span>
                        <span class="cs-price">£20</span>
                    </h3>
                    <p class="cs-menu-text">
                        Enjoy silky-smooth legs from the knee down with our efficient half leg waxing service.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Three-Quarter Leg Waxing</span>
                        <span class="cs-price">£24</span>
                    </h3>
                    <p class="cs-menu-text">
                        Experience the confidence of hair-free legs with our three-quarter leg waxing, removing hair from the toes to mid-thigh.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Full Leg Waxing</span>
                        <span class="cs-price">£32</span>
                    </h3>
                    <p class="cs-menu-text">
                        Achieve sleek, hair-free legs from toes to top with our thorough full leg waxing service, leaving you feeling confident and refreshed.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/wax/leg-wax-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/wax/leg-wax-m.webp">
            <img loading="lazy" decoding="async" src="/assets/images/wax/leg-wax-m.jpg" alt="leg wax" width="521" height="640">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-r-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">Bikini Waxing</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Standard Bikini Waxing</span>
                        <span class="cs-price">£18</span>
                    </h3>
                    <p class="cs-menu-text">
                        Tidy up your bikini area with our standard bikini waxing, removing hair along the sides for a neat and polished look.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Extended Bikini Waxing </span>
                        <span class="cs-price">£22</span>
                    </h3>
                    <p class="cs-menu-text">
                        Take your bikini waxing further with our extended service, removing more hair for a cleaner, more defined appearance.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Brazilian Waxing</span>
                        <span class="cs-price">£32</span>
                    </h3>
                    <p class="cs-menu-text">
                        Embrace the ultimate in smooth with our Brazilian waxing, removing nearly all hair from front to back for a clean, confident feel.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/wax/bikini-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/wax/bikini-m.webp">
            <img loading="lazy" decoding="async" src="/assets/images/wax/bikini-m.jpg" alt="bikini wax" width="521" height="640">
        </picture>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">Facial and Upper Body Waxing</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Lip or Chin Waxing</span>
                        <span class="cs-price">£5</span>
                    </h3>
                    <p class="cs-menu-text">
                        Eliminate unwanted facial hair with our lip or chin waxing, leaving your skin smooth and hair-free.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Eyebrow Waxing</span>
                        <span class="cs-price">£10</span>
                    </h3>
                    <p class="cs-menu-text">
                        Shape and define your eyebrows with our expert waxing service, creating a polished and perfectly framed look.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Underarm Waxing</span>
                        <span class="cs-price">£16</span>
                    </h3>
                    <p class="cs-menu-text">
                        Say goodbye to underarm hair with our quick and effective waxing service, leaving you feeling fresh and confident.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Forearm Waxing</span>
                        <span class="cs-price">£18</span>
                    </h3>
                    <p class="cs-menu-text">
                        Enjoy smooth, hair-free forearms with our waxing service, perfect for a sleek and polished appearance.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Full Arm Waxing</span>
                        <span class="cs-price">£23</span>
                    </h3>
                    <p class="cs-menu-text">
                        Remove unwanted hair from your entire arm with our full arm waxing, leaving your skin smooth from shoulder to wrist.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/wax/face-wax-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/wax/face-wax.webp">
            <img loading="lazy" decoding="async" src="/assets/images/wax/face-wax.jpg" alt="lip wax" width="521" height="640">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-r-995">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">Male Waxing</h2>
            <!--Menu-->
            <ul class="cs-menu-group">
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Chest Waxing</span>
                        <span class="cs-price">£27-40</span>
                    </h3>
                    <p class="cs-menu-text">
                        Achieve a smooth, hair-free chest with our professional waxing service, enhancing your masculine appearance.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Back Waxing</span>
                        <span class="cs-price">£27-40</span>
                    </h3>
                    <p class="cs-menu-text">
                        Say goodbye to unwanted back hair with our thorough waxing service, leaving your skin smooth and touchable.
                    </p>
                </li>
                <li class="cs-menu-item">
                    <h3 class="cs-h3">
                        <span class="cs-header">Shoulder Waxing</span>
                        <span class="cs-price">£20</span>
                    </h3>
                    <p class="cs-menu-text">
                        Eliminate shoulder hair with our waxing service, creating a clean and polished look.
                    </p>
                </li>
            </ul>
        </div>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/wax/chest-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/wax/chest-m.webp">
            <img loading="lazy" decoding="async" src="/assets/images/wax/chest-m.jpg" alt="chest wax" width="521" height="640">
        </picture>
    </div>
</section>
                                


    {% include 'components/cta.html' %}

{% endblock %}